body {
  box-sizing: border-box;
  margin: 0;
  background-color: tan;
  font-family: papyrus;
}

stateful-client {
  display: flex;
  justify-content: center;
  /* margin-top: 100; */
  align-items: center;
  height: 100%;
}

game-lobby {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700;
  height: 700;
}

.gameList {
  flex-grow: 1;
  width: 100%;
  padding: 5px;
}

.gameInLobby {
  margin: auto;
  width: fit-content;
}

game-board {
  justify-content: center;
  background-color: tan;
  max-width: 1000px;
  max-height: 700px;
}

.boardCanvas {
  width: 85%;
  height: 85%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 8px black;
}

.sidebarCard {
  padding: 4px;
  margin-left: 12px;
  margin-bottom: 12px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 8px black;
}

.sidebarCard > * {
  padding: 2px;
  margin: 2px;
}

h3 {
  font-size: 1.05em;
}
